:root {
    --theme-color: rgb(254, 190, 62);
    --theme-darkened-color: rgb(239, 171, 34);
}
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
    /*margin: 0;
    padding: 0;*/
}
li {
    width: fit-content;
}
header {
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 26px;
}
.selectBtn {
    width: fit-content;
    background-color: var(--theme-color);
    color: white;
    margin: 5px;
    padding: 11px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.flexVertCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selectBtn:hover {
    background-color: var(--theme-darkened-color);
}
.event {

}
.eventName {
    text-decoration: underline;
    font-size: 20px;
}
#homeBtn span {
    color: var(--theme-color);
}
#homeBtn {
    /* background-color: white; */
    /* color: var(--theme-color); */
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
}
