:root {
    --theme-color: rgb(254, 190, 62);
    --theme-darkened-color: rgb(239, 171, 34);
}
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
    /*margin: 0;
    padding: 0;*/
}
li {
    width: fit-content;
}
header {
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 26px;
}
.selectBtn {
    width: fit-content;
    background-color: var(--theme-color);
    color: white;
    margin: 5px;
    padding: 11px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.flexVertCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selectBtn:hover {
    background-color: var(--theme-darkened-color);
}
.eventsContainer {
    width: 100%;
}
.eventsContainer > h2 {
    font-size: 20px;
} 
.eventsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.eventCard {
    flex: 0 1 200px;
    /* background-color: var(--theme-darkened-color); */
    margin: 10px;
    border-radius: 10px;
    border: var(--theme-color) 3px solid;
    padding: 5px 0;
}
.eventName {
    text-decoration: underline;
    font-size: 20px;
}
#past .eventCard {
    background: rgba(247, 199, 104, 0.5);
}
#upcoming .eventCard {
    background: rgba(247, 199, 104, 0.8);
}
#attended .eventCard {
    background: rgba(247, 199, 104, 0.25);
}

#homeBtn span {
    color: var(--theme-color);
}
#homeBtn {
    /* background-color: white; */
    /* color: var(--theme-color); */
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formGroup > input, textarea {
    border: 3px solid var(--theme-color);
    padding: 3px;
    border-radius: 6px;
    width: 100%;
}
.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonBox div {
    display: flex;
    justify-content: center;
    align-items: center;
}
details * {
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}